.mb-colorpicker .color-circle {
  position: absolute;
  width: 6px;
  height: 6px;
  margin: -3px;
  /* box-shadow: 0 0 1px #000, 0 0 1px #000 inset; */
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50);
  border: 1px solid #FFF;
  border-radius: 50%;
  pointer-events: none;
}