.--mb--color-picker {
  .custom-color-list {
    padding: 10px 0;
    border-top: 1px solid #dedee4;

    .custom-palette {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }

    .custom-palette-color {
      list-style: none;
      width: 18px;
      height: 18px;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      margin-top: 10px;

      &:not(:nth-child(9n)) {
        margin-right: 10px;
      }
    }
  }
}
