.--mb--color-picker {
  .custom-color-list {
    padding: 10px 0;
    border-top: 1px solid #dedee4;

    .custom-palette {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
    }

    .custom-palette-color-imagback {
      background-image: linear-gradient(45deg, #ccc 26%, transparent 26%), linear-gradient(-45deg, #ccc 26%, transparent 26%), linear-gradient(45deg, transparent 73%, #ccc 73%), linear-gradient(-45deg, transparent 73%, #ccc 73%);
      background-size: 6px 6px;
      background-position: 0 0, 0 3px, 3px -3px, -3px 0;
      background-clip: padding-box;
      overflow: hidden;
    }

    .custom-palette-color-li {
        height: 100%;
    }

    .custom-palette-color {
      list-style: none;
      width: 18px;
      height: 18px;
      cursor: pointer;
      margin-top: 10px;

      li {
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.12);
      }

      &:not(:nth-child(9n)) {
        margin-right: 10px;
      }
    }
  }
}
