.--mb--color-picker {
  .theme-palette {
    display: flex;
    padding: 8px 0 10px;
    margin: 0;

    .theme-palette-color {
      list-style: none;
      width: 18px;
      height: 18px;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.transparent {
        position: relative;
        overflow: hidden;
        background: white !important;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 200%;
          border-top: 3px solid #eb5648;
          transform-origin: 0 0;
          transform: rotate(-45deg) translate(-50%, -50%);
        }
      }
    }
  }
}
