body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.playground {
  text-align: center;
}


.system-color-picker-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Icon {
  font-size: 14px;
  color: #415058;
}

.system-color-picker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
